<!DOCTYPE html> {%load staticfiles%}
<html>

<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Python Arcade</title>
</head>

<body>

  <nav id='bar' class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Python Arcade</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    </div>
  </div>
</nav>

    <div class='main'>

        {% if all_games %}
        <div id='box' class="well">
            {% for game in all_games %}
            <a href="{% url 'landing:detail' game.id %}">
                <h1 class='game_name'>{{ game.name }}</h1>
            <div class={{game.pic}}>
            </div></a>
            <h4 id='descript'>{{ game.descriptions }} </h4>
        </div>

        {% endfor %} {% else %}
        <h3> No games avliable </h3> {% endif %}
    </div>
</body>

</html>
