{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src= {% static "landing/js/flappy/phaser.js" %}></script>
    <script type="text/javascript" src= {% static "landing/js/spacegame/js/game.js" %}></script>
  </head>
  <body>
  <style>

    body {
      background-color: #848FA5;
    }

    canvas {
      border: 5px solid black;
      margin-left: 35%;
      margin-top: 3%;
    }
  </style>

  <div class="container" style="margin-left:7%">

    <div style="position: fixed; font-family:'Irish Grover', cursive; color:black" class="col-md-3">
      <h1>Space Shooter</h1>
      <h2>Directions:</h2>
      <h3>Press the SPACEBAR to fly the ship.</h3>
      <h3>Hit space bar to fire at the Aliens!</h3>

      <div style="margin-left: -10px">
        <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Alien_Emoji.png?8395986304114536760" style='height: 200px;'>
      </div>

    </div>

  </body>
</html>
