#bar{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10vh;
}
.turd{
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: auto;
  background: url('assets/flappy/flappy_turd.png');
  width: 242px;
  height: 240px;
}
.space{
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: auto;
  background: url('assets/flappy/space.png');
  width: 242px;
  height: 240px;
}

.fanny{
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: auto;
  background: url('assets/flappy/fanny.png');
  width: 242px;
  height: 240px;
}
.game_name{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  /*margin-left: 2vw;*/
}

#button{
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
  border-radius: 10px;
}

.vote{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5vh;
}
#descript{
  font-family: 'Roboto', sans-serif;
  margin-top: 5vh;
  text-align: center;
}
#box{
  font-family: 'Roboto', sans-serif;
  border-radius: 25px;
  border: black;
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40vh
  margin-bottom: 40vh;
}

.box{
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: auto;
  width: 500px;
}

#vote_button{
  margin-top: -5vh;
  margin-bottom: 5vh;
}

form{
  font-family: 'Roboto', sans-serif;
  margin-left: 10vw;
}

#myChart{
  height: 200px;
  width: 200px;
}

.result_vote{
  text-align: center;
  font-size: 25px;
  margin: auto;
  width: 40vw;
  margin-top: 10vh;
}

li{
  list-style: none;
}
