#bar{
  margin-bottom: 10vh;
}
.turd{
  display: block;
  margin: auto;
  background: url('assets/flappy/flappy_turd.png');
  width: 242px;
  height: 240px;
}
.game_name{
  display: flex;
  justify-content: center;
  /*margin-left: 2vw;*/
}

#descript{
  margin-top: 5vh;
  text-align: center;
}
#box{
  border-radius: 25px;
  border: black;
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40vh
  margin-bottom: 40vh;
}
.main{

}
